<div class="container">
  <nav class="navbar navbar=default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">AngularShopping</a>
      </div>
      <ul class = "nav navbar-nav" *ngIf="this.authService.loggedIn | async">
        <li>
          <a routerLink="/product" routerLinkActive="active">Products</a>
        </li>
        <li>
          <a routerLink="/cart" routerLinkActive="active">Shopping Cart</a>
        </li>
        <li>
          <a routerLink="/order" routerLinkActive="active">Orders</a>
        </li>
        <li>
          <a routerLink="/logout" routerLinkActive="active">Log Out</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>