Products
<div style="float:right;"><button routerLink="/cart">Shopping Cart</button></div>
<p></p>
<br>
<!-- div>
    <h2
      *ngFor="let data of dataset | paginate: { itemsPerPage: 4, currentPage: pages }"
    >
      {{ data }} 
				<button type="button" class="btn btn-primary" (click)="AddToCart(product)">Add to Shopping Cart</button>

    </h2>
    <button><a href="/product">Shop now</a></button>
    <button routerLink="/product">Shop now</button>
    <button type="button" routerLink="/product">Shopping Cart</button>
  </div -->
  <div *ngFor="let product of productList | paginate: { itemsPerPage: 4, currentPage: pages }">
    <h6>{{product.name}} Price:{{product.price}}
      <button type="button" class="btn btn-primary" (click)="addToCart(product)"> Add to Shopping Cart </button>
    </h6>
</div>
  <pagination-controls (pageChange)="pages = $event"></pagination-controls>