<h2>Orders</h2>
<div>
    <h2
      *ngFor="let data of dataset | paginate: { itemsPerPage: 10, currentPage: pages }"
    >
      {{ data }}
    </h2>
  </div>
  
  <pagination-controls (pageChange)="pages = $event"></pagination-controls>